* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: rgb(250, 246, 239);
    border: 1px solid rgb(115, 115, 115);
    border-radius: 8px;
    width: 60rem;
    padding: 24px 14px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.nama,
.jabatan,
.umur,
.status {
    display: flex;
    flex-direction: column;
}

label {
    padding: 0 0 8px 0;
    font-weight: bold;
}

input[type="text"],
select,
input[type="number"] {
    height: 36px;
    border: 1px solid rgb(115, 115, 115);
    border-radius: 4px;
}

input {
    padding: 2px 4px;
}

table {
    display: none;
    width: 100%;
    border: 1px solid rgb(115, 115, 115);
    text-align: center;
}

table,
th,
td {
    border: 1px solid rgb(115, 115, 115);
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
}

.submit {
    margin-bottom: 24px;
}

button {
    padding: 8px 24px;
    border-radius: 4px;
    border: 1px solid rgb(115, 115, 115);
    cursor: pointer;
}

button:hover {
    background-color: rgb(212, 212, 212);
} 

tfoot {
    font-weight: bold;
}